.itemCard {
    height: 340px;
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 10px 10px;
    border: 2px solid black;
    background-color: #fff;
}

.itemCard:hover {
    border-color: rgb(255, 91, 91);
}

.itemImageDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.itemTextDiv {
    margin-top: auto;
}

.itemImageDiv img {
    height: 130px;
    width: 130px;
}

p {
    text-align: center;
}

.itemPriceLg {
    font-size: 1.4rem;
}

.itemPriceSm {
    font-size: 0.8rem;
}

.itemDescription {
    font-size: 1rem;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
