.cartPageBody {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    width: 80vw;
    margin-top: 20px;
    /* height: 80vh; */
}

.cartDetails {
    width: 77%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 16px;
}
