.itemDetailSection {
    width: 65%;
    margin-right: auto;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.itemName {
    font-size: 1.3rem;
    text-align: start;
}

.itemDescription {
    font-size: 0.8rem;
    text-align: start;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.itemButtonSection {
    display: flex;
    align-items: center;
}

.editBtnGroup {
    display: flex;
    align-items: center;
    height: 2rem;
    border: 3px solid rgb(255, 91, 91);
    border-radius: 100px;
    padding: 2px 5px;
}

.editBtnGroup p {
    margin: 0 20px;
    font-weight: bold;
}

.editBtnGroup a {
    font-size: 1.8rem;
    width: 18px;
}
.editBtnGroup a:hover {
    cursor: pointer;
}

.lowerBtn {
    padding-left: 5px;
}

.trashBtn {
    height: 18px;
    width: 18px;
}
.trashBtn:hover {
    cursor: pointer;
}

.otherBtnGroup {
    margin-left: 10px;
    font-size: 0.8rem;
}

.otherBtnGroup a {
    border-left: 1px solid rgba(168, 168, 168, 0.5);
    padding: 0 10px;
}

.otherBtnGroup a:hover {
    cursor: pointer;
    text-decoration: underline;
}
