.itemSection {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 20px 20px;
    border-bottom: 1px solid rgba(168, 168, 168, 0.5);
}

.itemImage {
    height: 140px;
    width: 140px;
}

.itemPrice {
    display: flex;
    height: fit-content;
    align-items: start;
}

.dollarSign,
.itemPriceSm {
    font-size: 0.7rem;
    padding-top: 1px;
}

.itemPriceLg {
    font-size: 1.2rem;
    font-weight: bold;
}
